//@import '../fonts.less';
@bronze: #905923;
@black: #000000;


.header-container {
	padding: 20px 0;
	.logo {
		color: black;
		font-family: 'Democratica';
		font-weight: bold;
		font-size: 16pt;
		.bronze {
			color: @bronze;
		}
	}
}