@font-face {
  font-family: 'Democratica';
  src: url('../fonts/democratica.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Democratica';
  src: url('../fonts/democratica-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'AkzidenzGrotesk';
  src: url('../fonts/AkzidenzGroteskMed.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CutiveMono';
  src: url('../fonts/CutiveMono-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

