@import '../../bower_components/bootstrap/less/bootstrap';
@import '../../bower_components/toastr/toastr';
@import (less) '../../bower_components/magnific-popup/dist/magnific-popup.css';
@import 'fonts.less';
@import './GalleryConservative/style.less';

#app {

}

footer {
	position: absolute;
	bottom: 0;
	background-color: aliceblue;
	width: 100%;
}

.home {
	.home-page-title {
		border-bottom: 1px solid #222222;
		h1 {
			font-size: 28px;
			margin-top: 15px;
		}
	}
}